html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

/*.wrap > .container {
    padding: 70px 15px 20px;
}*/

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}



.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
footer.nb-footer {
    background: #474747;
   /* border-top: 4px solid #F33B42;*/
    margin-top: 28px !important;

}
footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center; }
footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px; }
footer.nb-footer .about .social-media {
    margin-top: 15px; }
footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #F33B42;
    border: 1px solid rgba(255, 255, 255, 0.3); }
footer.nb-footer .about .social-media ul li a:hover {
    background: #F33B42;
    color: #fff;
    border-color: #F33B42; }
footer.nb-footer .footer-info-single {
    margin-top: 30px; }
footer.nb-footer .footer-info-single .title {
    font-family: Source Sans Pro;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.784165px;
    text-transform: uppercase;

    color: #ffffff;
}
footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0;
    font-family: Source Sans Pro;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.663525px;

}
footer.nb-footer .footer-info-single ul li a:hover {
    color: #F33B42; }
footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa; }
footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999; }
footer.nb-footer .copyright p {
    margin: 0;
    padding: 0; }


/*DIV sobre DIV*/

#padre{
    position:relative;
    background-color: #9e9e9e05;
    height: 270px;
}

.reco_cuadro {
    position: absolute;
    background-color: #3C3C3C;
    color: #ffffff;
    top: 6px;
    left: 0;
    right: 0;
    width: fit-content;
    height: 25px;
}

.reco_texto{
    margin-left: 6px;
    margin-top: 2px;
    float: left;
    margin-right: 4px;
}

.font_precio_mons{
/*    color:#F33B42;font-family: Montserrat;font-size: 20px !important;font-style: normal;font-weight: 600;line-height: 26px;letter-spacing: 0.6697275042533875px;text-align: left;*/

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.669728px;
    color: #F33B42;
}

.font-16{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.54216px;
    color: #474747;
}

.font-14{

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.510269px;
    color: #474747;
}



.desc_cuadro {
    position: absolute;
    background-color: #F33B42;
    color: #ffffff;
    top: 36px;
    left: 0;
    right: 0;
    width: 56px;
    height: 25px;
}

.desc_texto{
    margin-left: 8px;
    margin-top: 2px;
    float: left;
}

.favorito{
    position: absolute;
    width: 50px;
    height: 50px;
    right: -28px;
    cursor: pointer;
    top: -15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.stream .stream-badge {
    width: 50px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.navy-bg   {
    background-color: #F33B42 !important;
    color: #ffffff;
}

.navy-bg2   {
    background-color: #fff !important;
    color: #F33B42;
}
.vertical-timeline-icon i {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -8px;
}

.titulo-home{
    height: 30px;
    left: 0%;
    right: 61.54%;
    top: calc(50% - 30px/2 - 440.5px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.896956px;

    color: #474747;
}

.nav > li.active {
    border-left: 4px solid #F33B42;
    background: #293846;
}

@media (max-width: 768px){
    .navbar-header {
        display: inline;
        float: none;
    }
}

.txt-especializados{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.924862px;
    color: #F33B42;
}

.txt-exp-valores{

}



.counter:hover .counter-icon{ transform: rotateY(360deg); }
.counter .counter-value{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 21px;
    /* or 72% */

    letter-spacing: 0.924862px;

    color: #474747;
}
.counter:hover .counter-value{ text-shadow: 2px 2px 0 #d1d8e0; }
.counter h3{
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.counter.blue{

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.0959829px;

    color: #474747;

}
.counter.blue:after{
    border-bottom-color: #F33B42;
    border-left-color: #F33B42;
}
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}

/*suscription home*/
.card {
    background-color: #4a6ad6
}

.text-color {
    color: #eee !important
}

.form-control2 {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 2px);
    padding: .75rem 1.25rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #696973;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d5d5dc;
    border-radius: .375rem;
    box-shadow: none;
    transition: all .3s ease
}

.btn-dark {
    color: #fff;
    background-color: #1b1642;
    border-color: #1b1642
}

.btn2 {
    display: inline-block;
    font-weight: 500;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #1b1642;
    border: 1px solid transparent;
    padding: .75rem 1.75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .375rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.txt-susc-1{
    font-family: Source Sans Pro;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.7200000286102295px;
    text-align: left;

    letter-spacing: 0.72px;
    text-transform: uppercase;

    color: #474747;
}
.hr-separador{
    border: 1px solid transparent !important;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.hr-separador2{
    border: 1px solid transparent !important;
    margin-bottom: 10px !important;
    margin-top: 40px !important;
}


.panel {
  /*  margin-bottom: 20px;*/
    /*background-color: #00000073 !important;*/
    border: 1px solid transparent;
    border-radius: 4px;
   /* color: #ffffff;*/
    border: 1px solid #cec4c4;
}

#slider-div {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#slider-div>div {
    margin: 8px;
}

.slider-label {
    position: absolute;
    background-color: #eee;
    padding: 4px;
    font-size: 0.75rem;
}

/* slider */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    /*left: 250px;*/
    width: 0;
    min-height: 1300px;
    margin-left: -250px;
    /* margin-top: -20px;*/
    overflow-y: auto;
    background: #1E2933;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.cn{
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    background: #FFE1E2 !important;
    cursor: pointer;
}


.btn-vtm {
    padding: 10px;
    font-family: Montserrat;
    font-style: normal;font-weight: normal;font-size: 12px;
    line-height: 15px;letter-spacing: 0.478377px;
    border: 0.5px solid #F33B42;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    background: #FFFFFF;
    letter-spacing: 0.478377px;
    color: #F33B42;
}

.btn-vtm-hover {
    padding: 10px;
    font-family: Montserrat;
    font-style: normal;font-weight: normal;font-size: 12px;
    line-height: 15px;letter-spacing: 0.478377px;
    border: 0.5px solid #F33B42;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.478377px;

    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}

.btn-vtm-hover:hover, .btn-vtm-hover:focus, .btn-vtm-hover:active, .btn-vtm-hover.active, .open>.dropdown-toggle.btn-vtm-hover {
    color: #6c757d;
    background-color: transparent;
    border-color: #6c757d;
}



.btn-vtm:hover, .btn-vtm:focus, .btn-vtm:active, .btn-vtm.active, .open>.dropdown-toggle.btn-vtm {
    color: #fff;
    background-color: #F33B42;
    border-color: #F33B42; /*set the color you want here*/
}


.pagination > .active > a{
    z-index: 3;
    color: #fff !important;
    cursor: default;
    background-color: #FF596A !important;
    border-color: #FF596A !important;
}

.pagination > li > a {
    color: #FF596A !important;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px 0px !important;
    border-radius: 4px;
}

.summary{
    margin-top: 10px !important;
}

#cuadrado1{
    background:red;
    border-radius: 8px;
}
#cuadrado2{
    border-radius: 8px;
    background: #F33B42;
    mix-blend-mode: normal;
    opacity: 0.73;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}


 .dropdown-item {
     display: block;
     width: 100%;
     padding: .25rem 1.5rem;
     clear: both;
     font-weight: 400;
     color: #212529;
     text-align: inherit;
     white-space: nowrap;
     background-color: transparent;
     border: 0;
 }

.open > .dropdown-menu {
    display: block;
}
.dropdown-menu {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgb(86 96 117 / 70%);
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
}

.odd {
    background-color: #ff596a2b !important;

    color: #444A4F !important;
}

table {
    border: 0px 0px 0px 0px solid !important;
}

.table-bordered {
    border: 1px solid #fff;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th{
    border: 1px solid #fff;
    height: 30px;
    font-size: 13px;
    color: #080808;
}

.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #fff;
    height: 30px;
    font-size: 11px;
}

table.table thead .sorting_desc:after {
    content: ' ';
    float: right;
}
table.table thead .sorting_asc:after {
    content: ' ';
    float: right;
}

table.table thead .sorting:after {
    content: ' ';
    opacity: 0.2;
    float: right;
}
.popover.right {
    margin-left: 10px;
    font-size: 10px;
}

.popover{
    max-width: 100%; // Max Width of the popover (depending on the container!)
}



.carousel {

    margin-bottom: 60px;
}

.carousel {
    position: relative;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid red;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
    border: 1px solid red;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

element.style {
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}
[role=button] {
    cursor: pointer;
}
.glyphicon-chevron-left:before {
    content: "\e079";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.select2-container--krajee .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
    font-size: 12px !important;
}

.select2-container--krajee .select2-results__option--highlighted[aria-selected] {
    background-color: #d9534f !important;
    color: #fff;
}
.sub1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.89297px;

    color: #F33B42;
}

.sub2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.414593px;
    text-decoration-line: line-through;
    color: #A0A0A0;
}

.profile-content {
    border-top: none !important;
    min-height: 174px !important;
}

.carousel-control.left {
    color: transparent;
}


/* RESULTADOS*/
.wrap{

    background-image: url("../img/manchas.png");
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

.cuadro_izq{
    background: #FBFBFB;
    border-radius: 0px 0px 6px 6px;
}

.res_subtitulo{

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.603333px;
    text-transform: uppercase;

    color: #333333;
}

.slider-handle {
    background-color: #0478b2;
    background-image: -moz-linear-gradient(top, #0480BE, #036fa5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0480BE), to(#036fa5));
    background-image: -webkit-linear-gradient(top, #0480BE, #036fa5);
    background-image: -o-linear-gradient(top, #0480BE, #036fa5);
    background-image: linear-gradient(to bottom, #d9534f, #d9534f) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0480BE', endColorstr='#036fa5',GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #0480BE;
    border: 0px solid transparent;
}

.linea{
    background: #D8D8D8;
    mix-blend-mode: normal;
    opacity: 0.39;
    border: 0.1px solid #97979738;
    box-sizing: border-box;
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin-top: 1px;
    margin-bottom: 10px;
}


label > input[type="checkbox"] {
    display: none;
}
label > input[type="checkbox"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
    flex-shrink: 0;
}
label > input[type="checkbox"]:checked + * {
    color: teal;
}
label > input[type="checkbox"]:checked + *::before {
    content: "✓";
    color: white;
    text-align: center;
    background: teal;
    border-color: teal;
}

/* basic layout */
fieldset {
    margin: 20px;
    max-width: 400px;
}
label > input[type="checkbox"] + * {
    display: inline-flex;
    padding: 0.5rem 1rem;
}


.si-sticky {
    position: fixed;
    top: 30%;
    right: 5px;
    width: 36px;
    z-index: 100;
}

@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
}

.si-colored.si-whatsapp, .si-whatsapp:hover {
    background-color: #5ACF66!important;
}
.si-colored.social-icon, .social-icon:hover {
    border-color: transparent;
}
.si-colored.si-whatsapp, .si-whatsapp:hover {
    background-color: #5acf66!important;
}

.social-icon {
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 38px!important;
    color: #555;
    text-shadow: none;
    border: 1px solid #AAA;
    border-radius: 3px;
    overflow: hidden;
}
.i-bordered, .i-circled, .i-plain, .i-rounded, .social-icon {
    display: block;
    float: left;
    margin: 4px 11px 7px 0;
    text-align: center!important;
    font-size: 28px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    cursor: pointer;
    font-style: normal;
}

.si-colored.si-facebook, .si-facebook:hover {
    background-color: #3B5998 !important;
}
.si-colored.social-icon, .social-icon:hover {
    border-color: transparent;
}
.si-colored.si-facebook, .si-facebook:hover {
    background-color: #3b5998 !important;
}

.si-colored.si-google, .si-google:hover {
    background-color: #DD4B39 !important;
}
.social-icon:hover {
    color: gray;
}
.si-colored.social-icon, .social-icon:hover {
    border-color: transparent;
}
.si-colored.si-google, .si-google:hover {
    background-color: #dd4b39 !important;
}

.glyphicon-search:before {
    content: "\e003";
    color: #f33b42 !important;
}


/* Ribbon*/


.box {
    position: relative;



    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}

/* common */
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #F33B42;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}

/* top left*/
.ribbon-top-left {
    top: 0px;
    left: 0px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-top-left::before {
    top: 0;
    right: 0;
}
.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}
.ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
    top: -10px;
    right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}
.ribbon-top-right::before {
    top: 0;
    left: 0;
}
.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}
.ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
    bottom: -10px;
    left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.ribbon-bottom-left::before {
    bottom: 0;
    right: 0;
}
.ribbon-bottom-left::after {
    top: 0;
    left: 0;
}
.ribbon-bottom-left span {
    right: -25px;
    bottom: 30px;
    transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
    bottom: -10px;
    right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.ribbon-bottom-right::before {
    bottom: 0;
    left: 0;
}
.ribbon-bottom-right::after {
    top: 0;
    right: 0;
}
.ribbon-bottom-right span {
    left: -25px;
    bottom: 30px;
    transform: rotate(-225deg);
}
